.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) {
  a {
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: transparent !important;
  }

  &:hover a {
    text-shadow: 0 0 0 var(--sl-color-text-accent);
  }

  .icon.icon-link::after {
    content: '🔗';
  }
}