---
/*
 * Implement the source code according to Astro Docs:
 * https://github.com/withastro/docs/blob/main/src/components/starlight/PageTitle.astro
 */

import { Icon } from '@astrojs/starlight/components';
import type { Props } from '@astrojs/starlight/props';

const { entry } = Astro.props;
const { title } = entry.data;
const { remarkPluginFrontmatter } = await entry.render();
---

<div class="wrapper">
  <h1 id="_top">
    <span>{title}</span>
  </h1>
  <p class="sl-flex">
    <Icon name="seti:clock" size="1.2em" />
    {remarkPluginFrontmatter.minutesRead}
  </p>
</div>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  h1 {
    display: flex;
    flex-wrap: wrap;
    color: var(--sl-color-white);
    font-size: var(--sl-text-h1);
    font-weight: 600;
    line-height: var(--sl-line-height-headings);
  }
  p {
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: var(--sl-color-gray-3);
  }
</style>
